body{
    margin: 0px;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #768787;
    font-style: italic;
}
#task{
    margin-top: 2%;
   
    border-style: solid;
    box-shadow: 10px 10px #130e0f;
    background-color: yellow;
    padding: 100px;
}
p{
    opacity:0.5;
}
#force{
    background-color: rgb(194, 96, 96);
    color: rgb(255, 255, 255);
}
td:hover{
    background-color: rgb(114, 126, 114);
    color: rgb(27, 122, 199);
}
button{
    margin-left: 30px;
    background-color: black;
    color: white;
    box-shadow: 10px 10px 10px rgb(255, 255, 255);
    
}
button:hover{
    background-color:#1ee6e6
}

