.hambarger{
    height: 20px;
    margin-bottom: 15px;
}
.logo{
    height: 50px;
    display: inline-block;
    margin-left: 10px;
}
.searchbar{
    padding: 0.2cm;
    margin-left: 50px;
}
.button1{
    padding: 0.15cm;
    border-left: transparent;
    margin-left: -4px;

}
.mic{
    height: 40px;
}
.menu{
     height: 25px;
}
.menu1{
    height: 24px;
}

